@import "tailwindcss";

h1,
h2,
h3 {
  font-family: "Lora", serif;
}
body,
p {
  font-family: "Inter", sans-serif;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}
